In [2]:
def read_data():
    from pandas import read_csv
    data=read_csv('./data/train.csv',sep=',',decimal='.')

    return data

read_data()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4462,0x2226,SURRES16DEL03,34,4.8,21.160437,72.774209,21.220437,72.834209,01-04-2022,17:25:00,17:30:00,conditions Cloudy,Medium,1,Meal,motorcycle,1,No,Metropolitian,(min) 17
4463,0xdf39,BHPRES04DEL02,37,4.8,23.184992,77.417227,23.264992,77.497227,16-02-2022,22:30:00,22:40:00,conditions Sandstorms,Low,2,Meal,electric_scooter,1,No,Urban,(min) 26
4464,0xd0c7,KOLRES11DEL01,NaN,NaN,22.577821,88.400581,22.617821,88.440581,15-02-2022,NaN,15:30:00,conditions Fog,Medium,2,Drinks,motorcycle,1,No,Metropolitian,(min) 18
4465,0x363d,INDORES13DEL03,34,4.6,22.745049,75.892471,22.835049,75.982471,23-03-2022,22:00:00,22:15:00,conditions Sunny,Jam,1,Drinks,motorcycle,1,No,Urban,(min) 22
4466,0xdfc5,KNPRES03DEL03,33,4.4,26.469003,80.316344,26.529003,80.376344,17-02-2022,20:40:00,20:55:00,conditions Sandstorms,Jam,0,Snack,motorcycle,1,No,NaN,NaN